
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
body{
   margin: 0px;
   background-color: #F5F8FF;

}

/*shared styles*/
.center{
  text-align: center;
}
ul{
  list-style: none;
}
.btn-primary{
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  background-color: #4E47FF;
  color: white;

}
.max-width{
 
  margin: 0px 150px;
}
.text-primary{
  font-size: 42px;
  font-weight: bold;
}
.text-secondary{
font-size: 24px;
font-weight:400;
opacity: 50%;
color: #252432;
}
/*header styles*/
header{
  text-align: center;
  background: url(../Assets/Hero-bg.png) no-repeat center;
  background-size: cover;
}
.banner{
      max-width: 905px;
    margin: auto;
    padding: 0px 0px 152px 0px;
  
}
.logo{
  font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

      /*navbar styles*/
      nav {
         
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
      }


      .header-message{
        font-size: 65px;
        font-weight: bold;
      }

/*main styles*/
.action-img{
  border-radius: 48px;
}

.action {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}

.action-text{
  max-width: 517px;
}
main section{
margin: 116px 0px;

}



/*portfolio*/
.portfolio{
  background-color: #E5E7FF;
  border-radius: 24px;
  text-align: center;


}


.num {
  font-size: 80px;
}
.letter {
  font-size: 80px;
  position: relative;
  top: -2px; 
}

/*review*/

.review{
  text-align: center;
}
.reviewer-dp{
      width: 40px;
    height: 40px;
    
    border-radius: 50%;
    object-fit: cover;

}
.reviewer-name{
  display: inline-block;
  text-align: left;
}

.reviewers{
  display: flex;
    justify-content: space-between;
    gap: 20px;

}
.rev{
      text-align: left;
    padding: 24px;
    background-color: #FFFFFF80;
    background-size: cover;
    border-radius: 14px;
    
    box-shadow:inset 0 0 0 1px #F2EDED;

}
.rev-text{
  font-size: 24px;
}
.rev-message{
  font-size: 16px;
}
.reviewer-data{
      display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  
}
.review-title{
  margin-bottom:50px;
}


/*focus*/

.focus{
  text-align: center;
}
.focus img{
  border-radius: 48px;
}
/* .focus button{
  display: block;
  text-align: center;
} */
/*footer styles*/